<!DOCTYPE html>
<body>
    <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
   <!--
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Application Developer: Crazy application developer, has worked on web application development, Java, Spring Application</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    -->

	<div class="container">
<div class="template-page content  av-content-full alpha units">	

    <div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> Web Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p>Oracle Certified web component developer(OCWCD), have worked on web application developement. Tools and technologies used were java/j2ee dev tools (eclipse, intellij), Spring framework, UI development and enhancement using HTML,CSS,js, Angualar JS. Have a hands on Ecommerce developement tools Hybris and Interwoven CMS</p>
	</div>
	</div>


	<div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> Java Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p>Oracle Certified Java Developer (OCJP6), hustled around Core java Developement. Wrote Monitoring script for Application and webserver monintoring , java and shell scripting were used for weaving the Monitoring script. 
    </p>
	</div>
	</div>
	
	
	<div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> UI Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p> Front end development using HTML,CSS3 and Java script(jquery and Angular JS), Web app was developed using Mean stack and deployed on Heroku for demo purpose. Current website was developed using Angular JS and Bootstrap and have developed few more website for current organization because of policy wont be able to share further details</p>
	</div>
	</div>
    


	
	<div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> PL/SQL Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p> Moderate knowledge on PL/SQL Development, worked on ORACLE, SQL and DB2 Servers. Procedures and multiple queries were written and consumed as a part Java and webapplication developement.
        MongoDB along with Mean stack application were developed and deployed on heroku for demo purpose
    </p>
	</div>
	</div>	
	
    <div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> Hybris Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p> Worked in Ecommerce website developement, Hybris application (HMC, CMS, PCM, CScockpit and Instore application) were customized. Sainsburys Tu clothing was developed using Hybris Ecommerce Platform</p>
	</div>
	</div>

    <div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> Automation Testing</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p> Automation testing script were developed using Selenium and Sikuli to test UI. Apache jmeter & SoapUI testing script were developed to test the functionality of webservices in batch</p>
	</div>
	</div>

    
    </div>
	</div>


<div class="container">
		<div class="row centered mt mb">
            <div class="col-lg-6 col-md-6 col-sm-4 gallery">         
                 <h3 class="head-last col-md-12"><a href="/img/Ananda_Resume.doc" class="btn btn-primary btn-lg">DOWNDLOAD RESUME</a></h3>
                 
            </div>	
             <div class="col-lg-6 col-md-6 col-sm-4 gallery">         
                 <h3 class="head-last col-md-12"><a href="/img/CIRCULUM VITAE ANANDA PALANI.docx" class="btn btn-primary btn-lg">DOWNDLOAD Cover Letter</a></h3>
                 
            </div>	
		</div>
</div>


</body>

</html>
