<!DOCTYPE html>
<body>
    <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
   <!--
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Application Developer: Crazy application developer, has worked on web application development, Java, Spring Application</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    -->

	<div class="container">
<div class="template-page content  av-content-full alpha units">	
	<div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> Java Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p>Hustled aroud developing application using Core java Developement, have worked with shell scripting along with core java. Performance improvement and memory managment.
	</p>
	</div>
	</div>
	
	<div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> Web Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p>Web development java/j2ee dev tools (eclipse, intellij), Spring framework, UI development and enhancement using HTML,CSS,js, Angualar JS. Have a hands on Ecommerce developement tools like HYbris and WCMS tools like ...</p>
	</div>
	</div>
	
	
	<div class="avia-image-container  av-styling-   avia-builder-el-14  avia-builder-el-no-sibling  avia-align-center " itemscope="itemscope" >	
	<div class="avia_textblock " itemprop="text"><h2><span style="color: #003366;"> PL/SQL Development</span></h2></div>
	<div class="avia_textblock " itemprop="text">
    <p> Moderate knowledge on PL/SQL Development, Java Backend development and connecting to Oracle, SQL DB and performance tunning the DB Query and other DB related activities.
    </p>
	</div>
	</div>	
	</div>
	</div>
<div class="container">
		<div class="row centered mt mb">
            <div class="col-lg-4 col-md-4 col-sm-4 gallery">         
                 <h3 class="head-last col-md-12"><a href="/img/Ananda_Resume.docx" class="btn btn-primary btn-lg">DOWNLOAD RESUME</a></h3>
            </div>	
		</div>
</div>

</body>

</html>
