<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                   <!--     <h2>My Name is Ananda Palani</h2>
                        <hr class="small">
                        <span class="subheading">I Create for the Web</span>
-->
                     <h4>HELLO PEOPLE, MY NAME IS</h4>
					<h2>Ananda Palani</h2>
                    <hr class="small">
					<h4>WEB DESIGNER, DEVELOPER & Nature Explorer </h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>



	<section id="works"></section>
	<div class="container">
	
	<!--
		<div class="row centered mt mb">
			<h1 align="center">My Portfolio</h1>
            <br>
            			
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#/about"><img src="img/java_Dev.png" class="img-responsive" alt="java"></a>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-4 gallery">
				<a href="https://tuclothing.sainsburys.co.uk/"><img src="img/SAP_Hybris.png" class="img-responsive" alt="Hybris Developer"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href=""><img src="img/java.jpg" class="img-responsive" alt="Web Developer"></a>
			</div>
		-->				
			
<div class="container">
<div class="row">
		<h1 align="center">My Portfolio</h1>
            <br>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
      <img src="img/java_Dev.png" alt="...">
      <div class="caption">
        <h3>Java Developer</h3>
        <p> Core java Development with Unix Script</p>
        <p><a href="#/about" class="btn btn-primary" role="button">Details</a></p>
      </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
      <img src="img/SAP_Hybris.png" alt="...">
      <div class="caption">
        <h3>Hybris Development</h3>
        <p>Website developement using Hybris Ecommerce Tool, Tuclothing website</p>
        <p><a href="https://tuclothing.sainsburys.co.uk/" class="btn btn-primary" role="button">Details</a></p>
      </div>
      </div>
  </div>
   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
      <img src="img/java.jpg" class="img-responsive" alt="Web Developer"></a>
      <div class="caption">
        <h3>Web Developer</h3>
        <p>Worked on couple of webapplication developement for retail & Supply Chain Company like supervalu, target & sainsburys</p>
        <p><a href="http://supervalu.com/" class="btn btn-primary" role="button">Details</a></p>
      </div>
      </div>
  </div>
  

</div>
</div>
           

		</div><! --/row <--></-->
	</div><! --/container -->


    

   