<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                   <!--     <h2>My Name is Ananda Palani</h2>
                        <hr class="small">
                        <span class="subheading">I Create for the Web</span>
-->
                     <h4>HI, MY NAME IS</h4>
					<h2>Ananda Palani</h2>
                    <hr class="small">
					<h4>WEB DESIGNER, DEVELOPER & Nature Explorer </h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>



	<section id="works"></section>
	<div class="container">
	
	<!--
		<div class="row centered mt mb">
			<h1 align="center">My Portfolio</h1>
            <br>
            			
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#/about"><img src="img/java_Dev.png" class="img-responsive" alt="java"></a>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-4 gallery">
				<a href="https://tuclothing.sainsburys.co.uk/"><img src="img/SAP_Hybris.png" class="img-responsive" alt="Hybris Developer"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href=""><img src="img/java.jpg" class="img-responsive" alt="Web Developer"></a>
			</div>
		-->				
	<div class="row">
		<h1 align="center">My Portfolio</h1>
            <br>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
		<a href="#/about">
      <img src="img/Java_Dev.png" alt="..."></a>
      <div class="caption">
        <h3>Java Developer</h3>
        <p> Core java developement along with Shell scripting, Application monitoring and Server monitoring scripts were developed  </p>
        
      </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
		<a href="https://tuclothing.sainsburys.co.uk/">
      <img src="img/SAP_Hybris.png" alt="..."></a>
      <div class="caption">
        <h3>Hybris Development</h3>
        <p>E-commerce  Website Development of website using Hybris, Tuclothing website was developed as a part of it.</p>
         
      </div>
      </div>
  </div>
   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
		<a href="http://supervalu.com/" >
      <img src="img/java.jpg" class="img-responsive" alt="Web Developer"></a></p>
      <div class="caption">
        <h3>Web Developer</h3>
        <p>Worked on couple of webapplication developement for retail & Supply Chain Company like supervalu, target & sainsburys</p>
        
      </div>
      </div>
  </div>
  

  
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
	<a href="#/about">
      <img src="img/UI Developer.png" alt="..."></a>
      <div class="caption">
        <h3>UI Developer</h3>
        <p> HTML, CSS3 & JS. Mean stack and website developed using Angular Js </p>
        
      </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
	<a href="#/about">
      <img src="img/SQL.png" alt="..."></a>
	   <div class="caption">
        <h3>PL/SQL Development</h3>
        <p> Hands on Oracle, DB2 and SQL servers</p>
        
      </div>
      </div>
  </div>
   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail">
	<a href="#/about">
      <img src="img/Auto.png" class="img-responsive" alt="Web Developer"></a>
      <div class="caption">
		  <br>
		  <br>
        <h3>Automation Testing</h3>
        <p>Automation test Script developed on Selenium, sikuli, Apache jmeter & SoapUI </p>
        
      </div>
      </div>
  </div>

</div>
</div>
		

    

   