<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                   <!--     <h2>My Name is Ananda Palani</h2>
                        <hr class="small">
                        <span class="subheading">I Create for the Web</span>
-->
                     <h4>HELLO PEOPLE, MY NAME IS</h4>
					<h2>Ananda Palani</h2>
                    <hr class="small">
					<h4>WEB DESIGNER, DEVELOPER & Explorer </h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>



	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<h1 align="center">My Portfolio</h1>
            <br>
            
			
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#/about"><img src="img/Programmer.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#/about"><img src="img/java.jpg" class="img-responsive"></a>
			</div>
			
			
			<div class="col-lg-3 col-md-4 col-sm-4 gallery">
				<a href="#/about"><img src="img/icon_3-01.png" class="img-responsive"></a>
			</div>
			
            <div class="col-lg-4 col-md-3 col-sm-4 gallery">
				<a href="#/about"><img src="img/Web-Developer.jpg" class="img-responsive"></a>
			</div>

		</div><! --/row -->
	</div><! --/container -->


    

   